/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-placeholder {
  font-style: italic;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  font-style: italic;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  font-style: italic;
  color: #999999;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

.pagination > li > a {
  background-color: white;
  color: #f03c3c;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #f03c3c !important;
  border: solid 1px #f03c3c !important;
}

.pagination > .active > a:hover {
  background-color: #f46b6b !important;
  border: solid 1px #f46b6b;
}

.pagination_panel {
  width: 100%;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

div > div .user_card_holder {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px #dddddd;
  padding-top: 10px;
}
div > div .user_card_holder .image_holder {
  width: 90px;
  height: 90px;
  background-color: red;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}
div > div .user_card_holder .image_holder img {
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
div > div .user_card_holder p:nth-child(2) {
  text-align: center;
  font-size: large;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}
div > div .user_card_holder p:nth-child(3) {
  text-align: center;
  font-size: medium;
  color: #999999;
}
div > div .user_card_holder .ratings_section {
  width: 100px;
  margin: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
div > div .user_card_holder .ratings_section img {
  height: 25px;
}
div > div .user_card_holder .ratings_section p {
  margin: 0;
  padding: 0;
  font-size: small;
  color: #929292;
}
div > div .user_card_holder p:nth-child(5) {
  text-align: center;
}
div > div .user_card_holder .view_button {
  width: 100px;
  margin: auto;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  overflow: hidden;
}
div > div .user_card_holder .view_button a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f03c3c;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  color: white;
}

.navigation-section {
  height: 100%;
  background-color: #4B4B4B;
}
.navigation-section .logo-section {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F67171;
  cursor: pointer;
}
.navigation-section .logo-section img {
  height: 70px;
}
.navigation-section > p {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  font-style: italic;
  color: white;
  background-color: #EC5656;
}
.navigation-section .navigation-button-section h3 {
  font-size: 1.23em;
  color: white;
  padding: 10px 0px 10px 10px;
}
.navigation-section .navigation-button-section .link-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navigation-section .navigation-button-section .link-section a {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 5px;
}
.navigation-section .navigation-button-section .link-section a img, .navigation-section .navigation-button-section .link-section a p {
  height: 35px;
  padding: 3px;
}
.navigation-section .navigation-button-section .link-section a p {
  font-size: 1.2em;
  text-align: left;
  padding-left: 8px;
  line-height: 30px;
  color: white;
}
.navigation-section .navigation-button-section .link-section .active-panel {
  background-color: #E56262;
}

.panel-heading {
  width: 100%;
  height: 60px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 0 6px grey;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.panel-heading button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.panel-heading a {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.Accounts-table {
  width: 100%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px grey;
}
.Accounts-table tbody tr:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.project_card_holder {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 200px 1fr;
  box-shadow: 0 0 6px grey;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 100ms linear;
  transform: scale(1);
  background-color: white;
}
.project_card_holder .check_box {
  grid-column: 1/2;
  justify-self: center;
  padding-top: 30px;
}
.project_card_holder .check_box input {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.project_card_holder .image_area {
  height: 100%;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.project_card_holder .image_area img {
  height: 90%;
  border-radius: 5px;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.project_card_holder .project_details_area {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
}
.project_card_holder .project_details_area .card_heading {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_card_holder .project_details_area .card_heading h6 {
  font-size: 1.3em;
  margin-left: 10px;
  color: grey;
}
.project_card_holder .project_details_area .card_heading p {
  font-style: italic;
  margin-right: 10px;
}
.project_card_holder .project_details_area .description {
  padding: 0px 15px 0px 15px;
}
.project_card_holder .project_details_area .description p {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  margin: auto;
  border-bottom: 1px #808080 solid;
  padding: 5px 0px 30px 0px;
}
.project_card_holder .project_details_area .card_control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.project_card_holder .project_details_area .card_control .card_desq {
  margin-left: 15px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.project_card_holder .project_details_area .card_control .card_desq .sect {
  display: flex;
}
.project_card_holder .project_details_area .card_control .card_desq .sect > p:first-child {
  width: 50px;
}
.project_card_holder .project_details_area .card_control .card_actions {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}
.project_card_holder .project_details_area .card_control .card_actions a {
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 5px;
}
.project_card_holder .project_details_area .card_control .card_actions a img {
  height: 30px;
}
.project_card_holder .project_details_area .card_control .card_actions a:nth-child(1) {
  background-color: aqua;
}
.project_card_holder .project_details_area .card_control .card_actions a:nth-child(2) {
  background-color: orange;
}
.project_card_holder .project_details_area .card_control .card_actions a:nth-child(3) {
  background-color: #ee3131;
}
.project_card_holder .project_details_area .card_control .card_actions a:hover {
  box-shadow: 0px 0px 6px #6b6b6b;
}
.project_card_holder .project_details_area .card_control .card_actions button {
  background-color: red;
  display: block;
  width: 60px;
  height: 30px;
}
.project_card_holder .project_details_area .card_control .card_actions .Hire_User, .project_card_holder .project_details_area .card_control .card_actions .Fire_User {
  color: white;
}
.project_card_holder:hover {
  transition: all 100ms linear;
  transform: scale(1.018);
}

.contractorCard {
  width: 200px;
  margin-bottom: 20px;
  box-shadow: 0 0 6px grey;
  padding-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.contractorCard .image-sect {
  padding-top: 5px;
  width: 100%;
  height: 110px;
}
.contractorCard .image-sect img {
  width: 100px;
  display: block;
  background-color: pink;
  margin: auto;
  border-radius: 50%;
}
.contractorCard .h6 {
  text-align: center;
  margin: 0;
}
.contractorCard p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.contractorCard .rating {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contractorCard .rating img {
  height: 25px;
  margin-right: 5px;
}
.contractorCard .location {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contractorCard .location img {
  height: 25px;
  margin-right: 5px;
}
.contractorCard a {
  width: 60px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 500;
  display: block;
  margin: auto;
}

.rating-card {
  width: 96%;
  padding-bottom: 5px;
  box-shadow: 0 0 6px grey;
  margin: auto auto 20px;
  border-radius: 5px;
}
.rating-card h4 {
  color: #454545;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2em;
}
.rating-card .rating-options {
  height: 30px;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rating-card .rating-options .input-group {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rating-card button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo_holder {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
nav .logo_holder img {
  height: 50px;
}
nav .logo_holder p {
  height: 100%;
  line-height: 75px;
  display: inline-block;
  font-size: 130%;
  font-weight: 700;
  color: #f03c3c;
}
nav .navigation_links {
  width: 800px;
  height: 100%;
}
nav .navigation_links ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navigation_links ul li {
  margin: 10px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
nav .navigation_links ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f03c3c;
  font-weight: 750;
  line-height: 50px;
  text-align: center;
  font-size: 130%;
}
nav .navigation_links ul li a:hover {
  background-color: #f46b6b;
  color: white;
  border-radius: 5px;
}
nav .user_action {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .user_action .button_holder > a {
  display: block;
  width: 100px;
  height: 40px;
  background-color: #f03c3c;
  border: none;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
}
nav .user_action .button_holder > a:hover {
  background-color: #f46b6b;
}

.home_banner {
  width: 100%;
  height: calc(100vh - 75px);
  background-color: green;
  background-image: url("http://localhost:8000/storage/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_banner .banner_overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 6, 6, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home_banner .banner_overlay section {
  margin: 0 10px;
  width: 600px;
  height: 500px;
  padding: 40px;
}
.home_banner .banner_overlay section h3 {
  text-align: center;
  padding: 20px;
  color: white;
}
.home_banner .banner_overlay section h4 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.home_banner .banner_overlay section .login_button_holder {
  width: 300px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_banner .banner_overlay section .login_button_holder a {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #f03c3c;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
}
.home_banner .banner_overlay section .login_button_holder a:hover {
  background-color: #e71212;
}
.home_banner .banner_overlay section:nth-child(3) {
  border-right: 2px solid white;
}
.home_banner .banner_overlay section:nth-child(4) {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.home_banner .banner_overlay section:nth-child(4) p {
  color: white;
  font-size: 120%;
}
.home_banner .banner_overlay .dec1 {
  width: 500px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: -100px;
  right: -90px;
  transform: rotate(25deg);
}
.home_banner .banner_overlay .dec2 {
  width: 600px;
  height: 230px;
  background-color: red;
  position: absolute;
  bottom: -100px;
  right: -120px;
  transform: rotate(-27deg);
}
.home_banner .banner_overlay .dec2 img {
  display: block;
  position: relative;
  height: 120px;
  bottom: -30px;
  right: -350px;
  transform: rotate(27deg);
}

body > h3 {
  width: 100%;
  height: 100px;
  color: red;
  line-height: 100px;
  text-align: center;
  text-decoration: underline;
  font-size: 1.23em;
  font-weight: bold;
}

.content_body {
  max-width: 1300px;
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  margin: auto;
}
.content_body .filter_section {
  width: 280px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  /* Safari */
  position: sticky;
  top: 20px;
}
.content_body .filter_section .filter_panel {
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}
.content_body .filter_section .filter_panel h5 {
  color: red;
  padding-bottom: 10px;
}
.content_body .filter_section .filter_panel select {
  padding-left: 10px;
  color: #8d8d8d;
  margin-left: 20px;
  width: 230px;
  border: 1px solid #d6d6d6;
  height: 40px;
  margin-bottom: 25px;
}
.content_body .items_section {
  width: calc(100% - 300px);
  margin-bottom: 90px;
  padding-bottom: 40px;
}
.content_body .items_section .nav_panel {
  width: 100%;
  height: 50px;
  border: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_body .items_section .nav_panel .filter_display {
  width: 300px;
  height: 100%;
  display: flex;
}
.content_body .items_section .nav_panel .filter_display h6 {
  height: 100%;
  width: 70px;
  color: #767676;
  line-height: 50px;
  font-weight: 600;
  font-size: large;
  padding-left: 10px;
  margin-right: 10px;
}
.content_body .items_section .nav_panel .filter_display p {
  align-self: center;
  margin: 0;
  padding: 0;
  background-color: #f03c3c;
  color: white;
  height: 25px;
  padding: 0px 10px;
  line-height: 25px;
  border-radius: 50px;
  margin: 0 2px;
}
.content_body .items_section .nav_panel .search_bar {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_body .items_section .nav_panel .search_bar input {
  width: 270px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid grey;
  padding-left: 10px;
  transition: all ease-in 0.25s;
}
.content_body .items_section .nav_panel .search_bar input:focus {
  outline: none;
  border: 2px solid #f03c3c;
  transition: all ease-in 0.25s;
}
.content_body .items_section .user_card_panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content_body .items_section .project_card_panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.content_body .items_section .No-data-found {
  width: 80%;
  height: 200px;
  background-color: whitesmoke;
  box-shadow: 0 0 4px #646464;
  text-align: center;
  line-height: 200px;
  font-size: 2em;
  color: #696969;
}
.content_body .project-view {
  width: 80%;
}
.content_body .project-view h5 {
  font-weight: 500;
  text-decoration: underline;
  color: #3b3b3b;
  margin-bottom: 5px;
  font-size: 1.3em;
}
.content_body .project-view .image-viewer {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px grey;
  margin: auto auto 10px;
  border-radius: 5px;
}
.content_body .project-view .image-viewer img {
  width: 80%;
}
.content_body .project-view .content-viewer {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #858585;
  margin-bottom: 20px;
}
.content_body .project-view .content-viewer ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
.content_body .project-view .content-viewer ul li {
  display: flex;
  margin-bottom: 3px;
}
.content_body .project-view .content-viewer ul li .heading {
  width: 120px;
  font-weight: 600;
  color: #4f4f4f;
}
.content_body .project-view .content-viewer ul li .content {
  width: calc(100% - 150px);
  font-style: italic;
  padding-left: 10px;
  font-weight: 400;
}
.content_body .project-view .content-viewer > p {
  color: #515151;
  font-family: sans-serif;
}
.content_body .project-view .skill-set-view {
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px #858585;
  margin-bottom: 20px;
}
.content_body .project-view .skill-set-view .skill-set-panel {
  width: 100%;
}
.content_body .project-view .skill-set-view .skill-set-panel p {
  display: inline-block;
  padding: 1px 15px;
  background-color: #ee4343;
  border-radius: 15px;
  color: white;
}
.content_body .project-view .call-to-action {
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px #858585;
  margin-bottom: 20px;
}
.content_body .project-view .call-to-action button {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
}
.content_body .project-view .call-to-action p {
  color: red;
}

.card_display_panel {
  display: flex !important;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Contractor-view {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  box-shadow: 0 0 6px grey;
}
.Contractor-view .user_details {
  width: 50%;
  height: 100%;
  padding: 10px;
}
.Contractor-view .user_details .image-viewer {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 20px;
}
.Contractor-view .user_details .info-group {
  margin-bottom: 10px;
  padding-left: 20px;
}
.Contractor-view .user_details .info-group h4 {
  font-size: 1.5em;
}
.Contractor-view .user_details .info-group p {
  font-size: 1.3em;
  color: #535353;
}
.Contractor-view .account_details {
  width: 50%;
  height: 100%;
  background-color: #c6c6c6;
}
.Contractor-view .account_details h5 {
  font-size: 1.8em;
  padding: 20px;
  text-decoration: underline;
}
.Contractor-view .account_details .info-group {
  margin-bottom: 10px;
  padding-left: 20px;
}
.Contractor-view .account_details .info-group h4 {
  font-size: 1.5em;
}
.Contractor-view .account_details .info-group .skill-set-display {
  width: 100%;
  padding: 10px;
}

.dashboard-main-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  overflow: hidden;
}
.dashboard-main-section .body-section {
  height: 100%;
  overflow: auto;
}
.dashboard-main-section .body-section .top-banner {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #4B4B4B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-main-section .body-section .top-banner h6 {
  width: 200px;
  margin-left: 10px;
  font-size: 1.4em;
  font-weight: bolder;
  color: white;
}
.dashboard-main-section .body-section .top-banner form {
  width: 500px;
  height: 40px;
  display: flex;
  flex-direction: row;
}
.dashboard-main-section .body-section .top-banner form input {
  width: 300px;
  border-radius: 20px;
  display: inline;
}
.dashboard-main-section .body-section .top-banner form button {
  padding: 5px 10px;
  background-color: #F67171;
  color: white;
  border-radius: 5px;
  display: inline;
}
.dashboard-main-section .body-section .top-banner .icons-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}
.dashboard-main-section .body-section .top-banner .icons-section a {
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.dashboard-main-section .body-section .top-banner .icons-section a img {
  width: 50px;
  padding: 5px;
}
.dashboard-main-section .body-section .top-banner .icons-section a:hover {
  background-color: #F67171;
}
.dashboard-main-section .body-section .content-body {
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.panel-heading > div {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.User-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.User-form > div {
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 6px grey;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: white;
}
.User-form select {
  width: 100%;
  border-radius: 5px;
}
.User-form .section-1 {
  width: calc(70% - 10px);
}
.User-form .section-1 h4 {
  font-weight: bold;
  color: white;
  padding: 11px;
  background-color: red;
  font-size: 1.2em;
}
.User-form .section-1 textarea {
  width: 100%;
  border-radius: 5px;
}
.User-form .section-2 {
  width: calc(30% - 10px);
}
.User-form .section-2 h4 {
  font-weight: bold;
  color: white;
  padding: 11px;
  background-color: red;
  font-size: 1.2em;
}
.User-form .field-area {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.User-form .field-area .form-group {
  margin-bottom: 10px;
}
.User-form .field-area label {
  width: 100%;
  color: grey;
}
.User-form .field-area input {
  border-radius: 5px;
  border: 1px solid grey;
}

.contractor_skill_holder {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: red;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px grey;
}

.content-body .project-set-as-complete-btn {
  grid-column: 11/13;
}
.content-body .btn-set-complete-Project {
  grid-column: 11/13;
}

.project-form-body {
  width: 96%;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e3e3e3;
}
.project-form-body label {
  padding-left: 20px;
  width: 100%;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.project-form-body .section-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project-form-body .section-details > div {
  width: 50%;
}
.project-form-body .section-details .section-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.project-form-body .section-details .section-image img {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 6px #aeaeae;
}
.project-form-body .section-details .section-image label {
  background-color: red;
}
.project-form-body .section-details .section-project-details {
  margin-bottom: 50px;
  padding-top: 20px;
}
.project-form-body .section-details .section-project-details .form-group {
  margin-bottom: 18px;
}
.project-form-body .section-details .section-project-details .form-group label {
  width: 100%;
  font-weight: 600;
  font-size: 1.1em;
}
.project-form-body .section-details .section-project-details .form-group input, .project-form-body .section-details .section-project-details .form-group select {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  font-size: 0.95em;
  color: #5b5b5b;
}
.project-form-body .section-details .section-project-details .period-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-form-body .section-details .section-project-details .period-selector label {
  width: 100%;
}
.project-form-body .section-details .section-project-details .period-selector p {
  width: 25%;
  text-align: center;
}
.project-form-body .section-details .section-project-details .period-selector input {
  width: 20%;
}
.project-form-body .section-description {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}
.project-form-body .section-description textarea {
  border-radius: 5px;
  width: 95%;
  height: 300px;
  margin-left: 20px;
}
.project-form-body textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.section-skill {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.section-skill .skill-input-area {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.section-skill .skill-input-area input {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  margin-left: 15px;
  padding-left: 5px;
  border: 1px solid grey;
}
.section-skill .skill-input-area button {
  background-color: red;
  padding: 8px 9px;
  color: white;
  border-radius: 5px;
}
.section-skill .skill-lister {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.section-skill .skill-lister p {
  margin: 0px 5px;
  background-color: #f36363;
  border-radius: 15px;
  padding: 2px 5px 2px 10px;
  color: white;
}
.section-skill .skill-lister p:hover {
  background-color: #bf4545;
}
.section-skill .skill-lister p span {
  cursor: pointer;
  opacity: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 14px;
  background-color: red;
  border-radius: 8px;
  line-height: 17px;
  text-align: center;
  transition: all 200ms linear;
}
.section-skill .skill-lister p span:hover {
  opacity: 1;
  transition: all 200ms linear;
}

.contractor-display {
  background-color: white;
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

.content-body .contractor-display {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}
.content-body .contractor-display > .contractorCard {
  margin: 10px;
}

.contractor-job-display {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.contractor-job-display .img-display {
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.contractor-job-display .img-display img {
  border-radius: 5px;
  box-shadow: 0 0 6px grey;
}
.contractor-job-display .user-details {
  width: calc(100% - 300px);
  padding: 10px;
}
.contractor-job-display .user-details .user-details-holder {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
.contractor-job-display .user-details .user-details-holder h3 {
  font-size: 1.5em;
  text-decoration: underline;
}
.contractor-job-display .user-details .user-details-holder p {
  font-size: 1.3em;
  color: #4a4a4a;
}

.user-skill-display {
  width: 100%;
  padding: 20px;
}
.user-skill-display h4 {
  font-size: 1.3em;
  font-weight: bolder;
  color: red;
}
.user-skill-display .user-skill-set-display {
  width: 100%;
  padding: 5px;
  background-color: white;
}
.user-skill-display .user-skill-set-display p {
  background-color: #e05252;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.skill-display {
  width: 100%;
  height: 500px;
  box-shadow: 0 0 6px grey;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
}
.skill-display .table-display {
  width: 40%;
  height: 100%;
  overflow: auto;
  padding: 3px;
}
.skill-display .table-display thead th:nth-child(1) {
  width: 8%;
}
.skill-display .table-display thead th:nth-child(2) {
  width: 30%;
}
.skill-display .table-display thead th:nth-child(3) {
  width: calc(100% - 38%);
}
.skill-display .table-display tbody tr {
  cursor: pointer;
}
.skill-display .table-display tbody tr:hover {
  background-color: #535353;
  color: white;
}
.skill-display .table-display p {
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
.skill-display .form-display {
  width: 60%;
  height: 100%;
  background-color: #dddddd;
  overflow: auto;
}
.skill-display .form-display form {
  padding: 20px;
}
.skill-display .form-display form .form-group {
  margin-bottom: 20px;
}
.skill-display .form-display form .form-group lable {
  display: block;
}
.skill-display .form-display form .form-group textarea, .skill-display .form-display form .form-group input {
  width: 100%;
  border-radius: 5px;
}
.skill-display .form-display form .button_dispay {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.skill-display .form-display form .button_dispay button {
  padding: 5px 15px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.dashboard-main-section {
  width: 100vw;
  height: 100vh;
}
